#
# This is the main configuration file for our demo application
#

# This is the default location of the inventory file, script, or directory
# that Ansible will use to determine what hosts it has available to talk to
[defaults]

    # Define that inventory info is in the file named “inventory”
    inventory = inventory

# Specify remote hosts, so we do not need to config them in main ssh config
[ssh_connection]
    transport = ssh
    
    # Overwrite the default smart method
    transfer_method = piped

    # The location of the ssh config file
    ssh_args  = -F ssh.config
